@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.news-container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.6em;
  text-decoration: none;
  color: #000;
}
a:hover {
  color: #e10619;
}

.news-list {
  font-family: "Montserrat", sans-serif;
  padding: 20px;
}
.news-list .news-item {
  overflow: hidden;
  cursor: pointer;
  color: #fff;
  display: flex;
  border-radius: 4px;
  background: black;
}
.news-list .news-item .news-image {
  min-width: 40%;
  background: white;
  /* Default image */
  background-image: url("https://images.pexels.com/photos/1047442/pexels-photo-1047442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-size: cover;
  background-position: left center;
  transition: background 0.5s ease;
}
.news-list .news-item .news-content {
  position: relative;
  padding: 2.5em;
  transition: color 0.2s ease;
}
.news-list .news-item .news-content .news-title {
  position: relative;
  z-index: 1;
}
.news-list .news-item .news-content .news-description {
  position: relative;
  z-index: 1;
}
.news-list .news-item .news-content .news-button {
  position: absolute;
  bottom: -100%;
  right: 1em;
  background: white;
  padding: 0.5em;
  font-size: 1em;
  float: right;
  z-index: -1;
  transition: 0.4s all cubic-bezier(0.77, 0, 0.175, 1);
  border-radius: 4px;
}
.news-list .news-item .news-content .news-button:hover {
  color: #000;
  box-shadow: 0 1px 10px 2px rgba(0, 0, 0, 0.2);
  margin-bottom: 1px;
}
.news-list .news-item .news-content:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(20deg, #d73c09, #fab802);
  height: 100%;
  width: 0%;
  transition: 0.5s all cubic-bezier(0.77, 0, 0.175, 1);
  z-index: 0;
}
.news-list .news-item:hover {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}
.news-list .news-item:hover .news-image {
  background-position: right center;
}

.news-list .news-item:hover .news-content {
  color: #000;
}
.news-list .news-item:hover .news-content:after {
  width: 100%;
}
.news-list .news-item:hover .news-content .news-button {
  display: block;
  bottom: 1em;
  z-index: 2;
}

.image-author {
  padding-left: 20px;
}

@media screen and (max-width: 500px) {
  /* codepen magic */
  .image-author {
    text-align: center;
    display: block;
  }

  .news-list .news-item {
    flex-flow: column;
  }
  .news-list .news-item .news-image {
    width: auto;
    height: 260px;
    background-position: center bottom;
  }
}