{% extends 'base.html' %}
{% load static %}
    {% block content%}
<!-- Conent Body -->
        <div class="site-content">



            <div class="site-content-body">
                <div class="container pb-5">




                </div>

            </div>
            <div class="container">

    <div class="site-content__container">

        <div class="col__primary">

            <div class="blog__body">

                <div class="site-content-body">







                    <h1> ADVOCACY</h1>

                    <div class="introduction introduction--standard">
                        <p></p>
                    </div> <!-- /introduction -->



        <div class="rich-text">
                    <span class="font-weight-bold">ANIEs advocacy function has mainly targeted the following;</span>
                    <ul style="list-style-type: none;" class="content-list">
                        <li>(i)	University leaders on their mandate to support and lead internationalization in their institutions.</li>
                        <li>(ii)	Deans of Faculty on the need to integrate internationalization into the teaching and learning activities in their faculties.</li>
                        <li>(iii)	International Office practitioners especially on equal partnerships and the need for developing strategies for internationalization.</li>
                        <li>(iv)	International partners, regional university associations and agencies on the need to support internationalization in African universities</li>
                    </ul>


                        <p>ANIE brings together members of diverse interests towards internationalization of education. Some members could wish to pursue research interests, others professionalizing their practitioner skills while others could be policy makers. Due to this diversity, ANIE provides for Special Interest Groups (SIGS) as a framework through which members can pursue these interests which contribute to the overall goals and objectives of the organization. <br>The following SIGs have so far been established;</p>
                    <ul style="list-style-type: none;" class="content-list">
                        <li>(i)	Network of Emerging Scholars on Internationalization (NESI)- It is headed by Ms. Christiana Badoo (University of Ghana) and focuses on capacity building for research on internationalization.
                        </li>
                        <li>(ii)	Professionalization of International Offices- It focusses on training of international office staff in African Universities and supporting the universities to develop strategies for internationalization. The SIG is headed by Prof. Goski Alabi (University of Professional Studies, Ghana).
                        </li>
                        <li>(iii)	Internationalization at home- It is led by Dr. Jackline Nyerere (Kenyatta University, Kenya) and focuses how to integrate internationalization in teaching, learning and other activities in the university campuses.
                        </li>
                    </ul>
</div>




                </div> <!-- /site-content-body -->

            </div> <!-- /blog__body -->

        </div> <!-- /col__primary -->

        <div class="col__secondary">


            <div class="cta-newsletter cta-newsletter--general" id="sticky-sidepanel">
  <div>
      <nav class="secondary-menu" id="sticky-sidepanel" role="navigation" aria-label="Secondary">


        <h2 class="secondary-menu__heading heading-section">Important Links</h2>

        <ul class="secondary-menu__container" role="menubar">


                <li class="secondary-menu__item selected" role="presentation">
                    <a class="secondary-menu__item__link" href="conferences.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                       Conferences
                    </a>


                </li> <li class="secondary-menu__item " role="presentation">
                    <a class="secondary-menu__item__link" href="gallery.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                       Gallery
                    </a>


                </li>


                <li class="secondary-menu__item" role="presentation">
                    <a class="secondary-menu__item__link" href="publications.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                        Publications
                    </a>






                </li>


                <li class="secondary-menu__item " role="presentation">
                    <a class="secondary-menu__item__link" href="training.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                        Trainings
                    </a>


                </li>


                <li class="secondary-menu__item " role="presentation">
                    <a class="secondary-menu__item__link" href="documents.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                        Key Documents
                    </a>


                </li>


                <li class="secondary-menu__item " role="presentation">
                    <a class="secondary-menu__item__link" href="scholarhips.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                        Scolarships
                    </a>


                </li>


                <li class="secondary-menu__item " role="presentation">
                    <a class="secondary-menu__item__link" href="calls.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                        Job calls
                    </a>


                </li>


                <li class="secondary-menu__item " role="presentation">
                    <a class="secondary-menu__item__link" href="ourhistory.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                        Our History
                    </a>


                </li>

        </ul>

</nav>
  </div>
</div>


        </div> <!-- /col__secondary -->

    </div> <!-- /row -->

</div> <!-- /container -->















            </div>
    {% endblock %}