{% extends 'base.html' %}
{% load static %}
    {% block content%}
            <!-- Conent Body -->
            <div class="site-content">



<div class="site-content-body">


    <div class="text-banner">

        <header class="text-banner-container">

            <div class="text-banner-content">

                <h1 class="text-banner-heading">Members of the Board</h1>

                <div class="text-banner-introduction introduction">At ANIE we&#39;ve grown to now serve over 1 million  students and over a thousand Universities and facilities, and this is possible because of our board members who had vision for the Internationalization of Education in Africa. </div>



            </div> <!-- text-banner-content -->

        </header> <!-- text-banner-container -->

    </div> <!-- /text-banner -->



        <div class="info">
            <div class="info-container">

                <div class="info-item-sm">
                    <a class="info-item-link" href="boarddetails.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Professor Goski Alabi is an accomplished academic, practitioner and .... </p>
                                    <span class="info-item-action-btn btn-secondary">Read more</span>
                                </div>
                            </div>


                            <img src="{% static 'media/anie/members/GoskiAlabi.jpg' %}" width="500" height="500" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">

                                <span class="font-sm color-primary">PROF.</span> GOSKI ALABI

                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item-sm">
                    <a class="info-item-link" href="kenya/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Prof. Isaac Njuguna Kimengi is a professor of Moi University and the Deputy Vice ....</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img src="{% static 'media/anie/members/chika-trevor.png' %}" width="500" height="500" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">

                                   <span class="font-sm color-primary">PROF.</span>ISAAC KIMENGI

                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item-sm">
                    <a class="info-item-link" href="malawi/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Prof Chika Trevor Sehoole is the Dean of the Faculty of Education at the University of ...</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img src="{% static 'media/anie/members/chika-trevor.png' %}" width="500" height="500" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">

                                    <span class="font-sm color-primary">PROF.</span> CHIKA TREVOR

                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item-sm">
                    <a class="info-item-link" href="rwanda/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Amy is Living and working in the MENA region for more than 30 years, she has ....</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img src="{% static 'media/anie/members/knight-photo-1.jpg' %}" width="500" height="500" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">
                                <span class="font-sm color-primary">MRS.</span> AMY FISHBURN

                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item-sm">
                    <a class="info-item-link" href="tanzania/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Dr. James Otieno Jowi is the Principal Education Officer at the East African Community....</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                           <img src="{% static 'media/anie/members/otieno-jowi.png' %}" width="500" height="500" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">
                                <span class="font-sm color-primary">DR.</span> JAMES OTIENO JOWI

                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item-sm">
                    <a class="info-item-link" href="uganda/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Dr. Jane Knight of the Ontario Institute for Studies in Education, ....</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img src="{% static 'media/anie/members/knight-photo-1.jpg' %}" width="500" height="500" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">
                                <span class="font-sm color-primary">DR.</span> JANE KNIGHT

                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item-sm">
                    <a class="info-item-link" href="ethiopia/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Prof Rosemond Boohene is the Dean of the Centre for International Education.....</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img src="{% static 'media/anie/members/Ongondo1.png' %}" width="500" height="500" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">                             <span class="font-sm color-primary">PROF.</span> ROSEMOND BOOHENE
                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item-sm">
                    <a class="info-item-link" href="ethiopia/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Dr. Christoff Pauw (member) is a a Manager of International Academic....</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img src="{% static 'media/anie/members/otieno-jowi.png' %}" width="500" height="500" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">
                               <span class="font-sm color-primary">DR.</span> CHRISTOFF PAUW
                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item-sm">
                    <a class="info-item-link" href="ethiopia/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Prof. Charles Ochieng’ Ong’ondo is a Commonwealth Academic Fellow in Research.....</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img src="{% static 'media/anie/members/Ongondo1.png' %}" width="500" height="500" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">
                                <span class="font-sm color-primary">PROF.</span> CHARLES OCHIENG’ ONG’ONDO
                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->
                 <div class="info-item-sm">
                    <a class="info-item-link" href="ethiopia/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Prof. Charles Ochieng’ Ong’ondo is a Commonwealth Academic Fellow in Research.....</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img src="{% static 'media/anie/members/Ongondo1.png' %}" width="500" height="500" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">
                                <span class="font-sm color-primary">PROF.</span> CHARLES OCHIENG’ ONG’ONDO
                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->


            </div> <!-- /info-container -->
        </div> <!-- /info -->









</div> <!-- /site-content-body -->


<ul data-brackets-id="25158" class="career-menu js-career-mobile-menu">
    <li data-brackets-id="25159" class="career-menu-item">
        <a data-brackets-id="25160" class="career-menu-link">Get to Know More</a>
        <button data-brackets-id="25161" class="career-menu__toggle js-career-mobile-menu-toggle">
            <svg data-brackets-id="25162" class="icon-toggle" height="32px" width="32px">
                <rect data-brackets-id="25163" x="2.85" y="6.265" width="24" height="2.47"></rect>
                <rect data-brackets-id="25164" x="2.85" y="14.217" width="24" height="2.47"></rect>
                <rect data-brackets-id="25165" x="2.85" y="22.302" width="24" height="2.47"></rect>
            </svg>
        </button>
    </li>



                <li data-brackets-id="25166" class="career-menu-item has-submenu">

                    <a data-brackets-id="25167" href="secretariat.html" class="career-menu-link career-menu-link-submenu">Secretariat</a>
                      </li>






    <li data-brackets-id="25175" class="career-menu-item has-submenu">
        <a data-brackets-id="25176" class="career-menu-link career-menu-link-submenu
        " href="#">Members</a>
    </li>






                <li data-brackets-id="25196" class="career-menu-item has-submenu">

                    <a data-brackets-id="25197" class="career-menu-link career-menu-link-submenu" href="partners.html">Partners</a>
                </li>
    <li data-brackets-id="25196" class="career-menu-item has-submenu">

                    <a data-brackets-id="25197" class="career-menu-link career-menu-link-submenu" href="#">Key Documents</a>
                </li>



        <li data-brackets-id="25209" class="career-menu-item">
            <a data-brackets-id="25210" href="job-openings/index.html" class="career-menu-link career-menu-link--highlight">Job Calls</a>
        </li>

</ul>

 <div class="cta">

                <div class="cta-container">

                    <h2 class="cta-heading">Register and become a member with us</h2>

                    <div class="cta-text">
                        <div class="rich-text">
                            <p>Are you willing to become a member and join us in fullfilling our mission and vission to East Africa and to the whole world<br /></p>
                        </div>
                    </div>

                    <!--  -->


                    <a class="btn-transparent cta-btn" href="blog/seed-soap-delivering-health-response-covid-19/index.html">Read More</a>


                </div> <!-- /cta-container -->

            </div> <!-- /cta -->




            </div>
            <!-- /Content Body -->
    {% endblock %}