{% extends 'base.html' %}
{% load static %}
    {% block content%}
<!-- Conent Body -->
            <div class="site-content">
                <div class="site-content-body">
                    <div class="text-banner">

                        <header class="text-banner-container">

                            <div class="text-banner-content">

                                <h1 class="text-banner-heading">Job Calls</h1>

                                <div class="text-banner-introduction introduction">We are looking for experts to fill up pending positions in different Organisations, programmes and insitutions in different operational Countries.</div>



                            </div> <!-- text-banner-content -->

                        </header> <!-- text-banner-container -->

                    </div> <!-- /text-banner -->
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-10 col-md-12 col-sm-12 auto">
                                <section>
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-10 offset-md-1">
                                                <ul class="job-list">
                                                    <header class="job-listing-heading"><span class="job-listing-heading-header heading-section"><em class="job-listing-heading-count">4</em> jobs available</span></header>
                                                    <li class="job-preview">
                                                        <div class="job-listing-item"><a href="g/indexa33b.html?gh_jid=2611282" class="job-listing-item-link">
                                                                <h2 class="job-listing-item-heading">Agroforestry &nbsp;Lead</h2>
                                                                <p class="job-listing-item-description">We are looking for an expert in Monitoring and Evaluation of Agroforestry projects to improve our measurement of the impact - both financial and environmental - of these programs.</p>
                                                                <div class="tags job-listing-item-tags">
                                                                    <ul class="tags-container job-listing-item-tags-container">
                                                                        <li class="tags-item job-listing-item-tags-item">

                                                                            Professionals

                                                                        </li>

                                                                        <li class="tags-item job-listing-item-tags-item">
                                                                            Agriculture Sector


                                                                        </li>
                                                                        <li class="tags-item job-listing-item-tags-item">
                                                                            Uganda
                                                                        </li>
                                                                    </ul>

                                                                </div>
                                                            </a></div>
                                                    </li>
                                                    <li class="job-preview">
                                                        <div class="job-listing-item"><a href="g/indexa33b.html?gh_jid=2611282" class="job-listing-item-link">
                                                                <h2 class="job-listing-item-heading">Lead Project Supervisor</h2>
                                                                <p class="job-listing-item-description">We are looking for an expert in Supervising and Evaluation of Construction projects to improve our measurement of the impact both financial and environmental of these programs.</p>
                                                                <div class="tags job-listing-item-tags">
                                                                    <ul class="tags-container job-listing-item-tags-container">
                                                                        <li class="tags-item job-listing-item-tags-item">

                                                                            Intermediate

                                                                        </li>


                                                                        <li class="tags-item job-listing-item-tags-item">
                                                                            Construction

                                                                        </li>
                                                                        <li class="tags-item job-listing-item-tags-item">Kenya</li>
                                                                    </ul>

                                                                </div>
                                                            </a></div>
                                                    </li>
                                                    <li class="job-preview">
                                                        <div class="job-listing-item"><a href="g/indexa33b.html?gh_jid=2611282" class="job-listing-item-link">
                                                                <h2 class="job-listing-item-heading">Operations Officer</h2>
                                                                <p class="job-listing-item-description">We are looking for an experienced personnel in Monitoring and Evaluation of Industrial projects to improve our measurement of the impact both financial and environmental of these programs.</p>
                                                                <div class="tags job-listing-item-tags">
                                                                    <ul class="tags-container job-listing-item-tags-container">
                                                                        <li class="tags-item job-listing-item-tags-item">

                                                                            Professionals

                                                                        </li>

                                                                        <li class="tags-item job-listing-item-tags-item">
                                                                        Industrial

                                                                        </li>
                                                                        <li class="tags-item job-listing-item-tags-item">
South Africa
                                                                        </li>
                                                                    </ul>

                                                                </div>
                                                            </a></div>
                                                    </li>
                                                    <li class="job-preview">
                                                        <div class="job-listing-item"><a href="g/indexa33b.html?gh_jid=2611282" class="job-listing-item-link">
                                                                <h2 class="job-listing-item-heading">URA Jobs</h2>
                                                                <p class="job-listing-item-description">We are looking for an expert in Monitoring and Evaluation of Agroforestry projects to improve our measurement of the impact - both financial and environmental - of these programs.</p>
                                                                <div class="tags job-listing-item-tags">
                                                                    <ul class="tags-container job-listing-item-tags-container">
                                                                        <li class="tags-item job-listing-item-tags-item">

                                                                            Professionals

                                                                        </li>

                                                                        <li class="tags-item job-listing-item-tags-item">
                                                                            Organizational

                                                                        </li>
                                                                        <li class="tags-item job-listing-item-tags-item">
                                                                        Uganda

                                                                        </li>
                                                                    </ul>

                                                                </div>
                                                            </a></div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Content Body -->
    {% endblock %}