{% extends 'base.html' %}
{% load static %}
    {% block content%}
<!-- Conent Body -->
        <div class="site-content">



            <div class="site-content-body">




                <div data-brackets-id="25156" class="careers-hero">


                    <img data-brackets-id="25157" alt="One Acre Fund VGM Staff Photo" src="{% static 'media/images/One_Acre_Fund_VGM_Header.2e16d0ba.fill-2400x1600-c100.jpg' %}" height="1467" width="2200">


                </div>


                <div class="text-banner">

                    <header class="text-banner-container">

                        <div class="text-banner-content">

                            <h1 class="text-banner-heading">Our Committees</h1>

                            <div class="text-banner-introduction introduction">Some Nice And brief introdution required here!!!!! </div>



                        </div> <!-- text-banner-content -->

                    </header> <!-- text-banner-container -->

                </div>
                <!-- /text-banner -->

                <!-- /Committee Cards -->
                <div class="wrapper pad-top pad-bottom">
                    <div class="container">


                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 section-gap">
                                <h5 class="text-center color-primary text-uppercase">Research &amp; Publications Committee</h5>
                                <div class="team-member">
                                    <ul class="list-committee" style="list-style-type: none">
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary">Prof. </span> Peter L. Barasa - chairman</p>
                                                <p class="body">Ag. Deputy Principal (Academics, Student Affairs &amp; Research, Alupe University College)</p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary">Dr.</span> Mamadou Dime - Member</p>
                                                <p class="body">
                                                    Head Of The Department Of Sociology, Gaston Berger University – Saint-Louis</p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary color-primary">Prof. </span> Lilian Rita Akudolu - Member</p>
                                                <p class="body">
                                                    Professor Of Education
                                                    Mnamdi Azikiwe
                                                    University
                                                </p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary color-primary">Dr. </span> Maria Barifaijo - Member</p>
                                                <p class="body">
                                                    Senior Lecturer
                                                    Higher Education, Uganda Managaement Institute
                                                </p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary color-primary">Prof. </span> Mulu Karsay Nega - Member</p>
                                                <p class="body">
                                                    Assistant Professor
                                                    Addis Ababa
                                                    University
                                                </p>
                                            </a></li>
                                    </ul>

                                </div><!-- .team-member -->
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 section-gap">
                                <h5 class="text-center color-primary text-uppercase">
                                    CONFERENCE COMMITTEE</h5>
                                <div class="team-member">
                                    <ul class="list-committee"  style="list-style-type: none">
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary">Prof. </span>Goski Alabi - chairman</p>
                                                <p class="body">

                                                    Dean Centre For International Education &amp; Collaboration University Of Professional Studies-Accra</p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary">Prof.</span> Orpha Ongiti - member</p>
                                                <p class="body">

                                                    Africa Nazarene University
                                                    Principal Nairobi CBD
                                                    Campus</p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary color-primary">MS. </span> Amy Fishburn - Member</p>
                                                <p class="body">
                                                    Director Of International Programs
                                                    Al Akhawayn University
                                                    Ifraine
                                                </p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary color-primary">Dr. </span> Jackline Nyerere - Member</p>
                                                <p class="body">
                                                    Lecturer, Department Of Education Management, Policy &amp; Curriculum Studies, Kenyatta University
                                                </p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary color-primary">Mr. </span> David Farirai - Member</p>
                                                <p class="body">

                                                    Director, Institutional Advancement University Of South Africa
                                                    (UNISA)
                                                </p>
                                            </a></li>
                                    </ul>

                                </div><!-- .team-member -->
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6">
                                <h5 class="text-center color-primary text-uppercase">

                                    RESOURCE MOBILIZATION COMMITTEE</h5>
                                <div class="team-member">
                                    <ul class="list-committee"  style="list-style-type: none">
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary">Prof. </span> Tolly Mbwette - chairman</p>
                                                <p class="body">

                                                    Professor Of Environmental Engineering
                                                    (University Of Dar Es Salaam)</p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary">Dr.</span> Mohsen Said Elmahdy - Member</p>
                                                <p class="body">

                                                    Professor Of Civil Engineering
                                                    Cairo University</p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary color-primary">Mr. </span>David Farirai - Member</p>
                                                <p class="body">

                                                    Director, Institutional Advancement University Of South Africa
                                                    (UNISA)
                                                </p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary color-primary">Ms . </span> my Fishburn - Member</p>
                                                <p class="body">

                                                    A
                                                    Director Of International Programs
                                                    Al Akhawayn University
                                                    Ifrane
                                                </p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary color-primary">Prof. </span>Rosemond Boohene - Member</p>
                                                <p class="body">

                                                    Dean For International Education University Of Cape Coast
                                                </p>
                                            </a></li>
                                    </ul>

                                </div><!-- .team-member -->
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-6 pad-bottom">
                                <h5 class="text-center color-primary text-uppercase">
                                    CAPACITY BUILDING COMMITTEE</h5>
                                <div class="team-member">
                                    <ul class="list-committee"  style="list-style-type: none">
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary">Prof. </span> Chika Sehoole - chairman</p>
                                                <p class="body">

                                                    Dean
                                                    Faculty Of Education
                                                    University Of Pretoria</p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary">Dr.</span> Mwanakombo Mohamed Noordin - Member</p>
                                                <p class="body">

                                                    Director
                                                    Moi University Coast Campus</p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary color-primary">Mr. </span>
                                                    Alfred Ghartey- Member</p>
                                                <p class="body">

                                                    Member of Centre
                                                    For International Education
                                                    University Of Cape Coast
                                                </p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary color-primary">Dr. </span> Caroline Omulando - Member</p>
                                                <p class="body">


                                                    Dean
                                                    School Of Education
                                                    Alupe University College
                                                </p>
                                            </a></li>
                                        <li><a href="#">
                                                <p class="title"><span class="salt color-primary color-primary">Miss. </span> Chriatiana Ago Badoo - Member</p>
                                                <p class="body">
                                                    Miss.

                                                    Brookstone Relief Services , Programmes Coordinator.
                                                </p>
                                            </a></li>
                                    </ul>

                                </div><!-- .team-member -->
                            </div>
                        </div>
                    </div>
                    <!-- /Committee Cards -->




                </div><!-- /site-content-body -->


                <ul data-brackets-id="25158" class="career-menu js-career-mobile-menu">
                    <li data-brackets-id="25159" class="career-menu-item">
                        <a data-brackets-id="25160" class="career-menu-link">Get to Know More</a>
                        <button data-brackets-id="25161" class="career-menu__toggle js-career-mobile-menu-toggle">
                            <svg data-brackets-id="25162" class="icon-toggle" height="32px" width="32px">
                                <rect data-brackets-id="25163" x="2.85" y="6.265" width="24" height="2.47"></rect>
                                <rect data-brackets-id="25164" x="2.85" y="14.217" width="24" height="2.47"></rect>
                                <rect data-brackets-id="25165" x="2.85" y="22.302" width="24" height="2.47"></rect>
                            </svg>
                        </button>
                    </li>



                    <li data-brackets-id="25166" class="career-menu-item has-submenu">

                        <a data-brackets-id="25167" href="secretariat.html" class="career-menu-link career-menu-link-submenu">Secretariat</a>
                    </li>






                    <li data-brackets-id="25175" class="career-menu-item has-submenu">
                        <a data-brackets-id="25176" href="members.html" class="career-menu-link career-menu-link-submenu
        " href="#">Members</a>
                    </li>






                    <li data-brackets-id="25196" class="career-menu-item has-submenu">

                        <a data-brackets-id="25197" class="career-menu-link career-menu-link-submenu" href="partners.html">Partners</a>
                    </li>
                    <li data-brackets-id="25196" class="career-menu-item has-submenu">

                        <a data-brackets-id="25197" class="career-menu-link career-menu-link-submenu" href="documents.html">Key Documents</a>
                    </li>



                    <li data-brackets-id="25209" class="career-menu-item">
                        <a data-brackets-id="25210" href="calls.html" class="career-menu-link career-menu-link--highlight">Job Calls</a>
                    </li>

                </ul>

                <div class="cta">

                    <div class="cta-container">

                        <h2 class="cta-heading">Register and become a committee member with us</h2>

                        <div class="cta-text">
                            <div class="rich-text">
                                <p>Are you willing to become a member and join us in fullfilling our mission and vission to East Africa and to the whole world<br /></p>
                            </div>
                        </div>

                        <!--  -->


                        <a class="btn-transparent cta-btn" href="membership.html">Read More</a>


                    </div> <!-- /cta-container -->

                </div> <!-- /cta -->




            </div></div>
            <!-- /Content Body -->
    {% endblock %}