{% extends 'base.html' %}
{% load static %}
    {% block content%}
 <div class="site-content">
            <div class="site-content-body site-content-body-fill">
                <div class="text-banner ">
    <header class="text-banner-container">
      <div class="text-banner-content">
        <h5 class="text-center color-primary text-uppercase">Upcoming Conferences</h5>
        <div class="text-banner-introduction introduction">A brief introduction about this page.</div>
      </div> <!-- text-banner__content -->
    </header> <!-- text-banner__container -->
  </div> <!-- /text-banner -->


<div class="container">

    <div class="site-content__container">

        <div class="col__primary">

            <div class="blog__body">

                <div class="site-content-body">





    <nav class="breadcrumb" role="navigation" aria-label="breadcrumb">
        <ul class="breadcrumb__container">





                        <li class="breadcrumb__item">
                            <a class="breadcrumb__link" href="index.html" title="Home">Home</a>
                        </li>



            <li class="breadcrumb__item">Conferences</li>
        </ul>
    </nav>

                     <div class="container">
                    <div class="row pad-bottom">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="fieldwrapper">
                                <a href="#"><img class="img-fluid smaboutimg" src="{% static 'media/original_images/Rwandan_Landscape_One_Acre_Fund.jpg' %}" alt="">
                                <div class="bg-white"><p class="subtitle float-left" style="padding-right: 12px;">23rd March 21<br>
                                </p><p class="subtitle">                                  <i class="fa fa-map-marker" aria-hidden="true"></i> Congo Brazaville
                                </p>
                                <p class="eventtitle">African Education Transformation</p></div></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="fieldwrapper">
                                <a href="#"><img class="img-fluid smaboutimg" src="{% static 'media/images/25074496886_60b4e369cb_o.width-800.jpg' %}" alt=""><div class="bg-white">
                                <p class="subtitle float-left" style="padding-right: 12px;">23rd March 21<br>
                                </p><p class="subtitle">                                  <i class="fa fa-map-marker" aria-hidden="true"></i> Lagos, Nigeria
                                    </p><p class="eventtitle">Prof E. Abenga Covid 19 &amp; Internationalization of Higher...</p></div></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="fieldwrapper">
                                <a href="#"><img class="img-fluid smaboutimg" src="{% static 'media/original_images/Kakamega_Office_Walk.jpg' %}" alt=""><div class="bg-white">
                                <p class="subtitle float-left" style="padding-right: 12px;">23rd March 21<br>
                                </p><p class="subtitle">                                  <i class="fa fa-map-marker" aria-hidden="true"></i> South Africa
                                </p>
                                    <p class="eventtitle">Prof. Pai Obanya ANIE-IEASA Webinar Presentation</p></div></a>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="fieldwrapper">
                                <a href="#"><img class="img-fluid smaboutimg" src="{% static 'media/anie/bg.jpeg' %}" alt=""><div class="bg-white">
                                <p class="subtitle float-left" style="padding-right: 12px;">23rd March 21<br>
                                </p><p class="subtitle">                                  <i class="fa fa-map-marker" aria-hidden="true"></i> Kigali, Rwanda
                                </p>
                                    <p class="eventtitle">Prof. Goski Alabi COVID 19 &amp; internationalization of Higher</p></div></a>
                            </div>
                        </div>

                    </div>
                         <div class="container">
        <div class="row">
            <div class="col-full">


                    <nav class="pagination" aria-label="Pagination">

    <div class="pagination-previous">

    </div>

    <div class="pagination-status">
        <span class="pagination-page-current">1</span> / <span class="pagination-page-total">5</span>
    </div>

    <div class="pagination-next">

        <a class="pagination-link" href="index4658.html?page=2">
            next
            <svg class="pagination-icon" height="31px" width="31px">
                <use xlink:href="#small-arrow"></use>
            </svg>
        </a>

    </div>

</nav>


            </div>
        </div>
    </div>
                </div>


                </div> <!-- /site-content__body -->

            </div> <!-- /blog__body -->


        </div> <!-- /col__primary -->
        <div class="col__secondary">


            <div class="cta-newsletter cta-newsletter--general" id="sticky-sidepanel">
  <div>
      <nav class="secondary-menu" id="sticky-sidepanel" role="navigation" aria-label="Secondary">


        <h2 class="secondary-menu__heading heading-section">Important Links</h2>

        <ul class="secondary-menu__container" role="menubar">


                <li class="secondary-menu__item selected" role="presentation">
                    <a class="secondary-menu__item__link" href="conferences.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                       Conferences
                    </a>


                </li> <li class="secondary-menu__item " role="presentation">
                    <a class="secondary-menu__item__link" href="gallery.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                       Gallery
                    </a>


                </li>


                <li class="secondary-menu__item" role="presentation">
                    <a class="secondary-menu__item__link" href="publications.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                        Publications
                    </a>






                </li>


                <li class="secondary-menu__item " role="presentation">
                    <a class="secondary-menu__item__link" href="training.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                        Trainings
                    </a>


                </li>


                <li class="secondary-menu__item " role="presentation">
                    <a class="secondary-menu__item__link" href="documents.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                        Key Documents
                    </a>


                </li>


                <li class="secondary-menu__item " role="presentation">
                    <a class="secondary-menu__item__link" href="scholarhips.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                        Scolarships
                    </a>


                </li>


                <li class="secondary-menu__item " role="presentation">
                    <a class="secondary-menu__item__link" href="calls.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                        Job calls
                    </a>


                </li>


                <li class="secondary-menu__item " role="presentation">
                    <a class="secondary-menu__item__link" href="ourhistory.html" role="menuitem">
                        <svg class="secondary-menu__item__icon" height="14px" width="14px">
                            <use xlink:href="#arrow"></use>
                        </svg>
                        Our History
                    </a>


                </li>

        </ul>

</nav>
  </div>
</div>


        </div> <!-- /col__secondary -->

    </div> <!-- /row -->

</div>

            </div>
        </div>
    {% endblock %}