{% extends 'base.html' %}
{% load static %}
    {% block content%}
<!-- Conent Body -->
        <div class="site-content">



            <div class="site-content-body">
                 <div class="container">

    <div class="site-content__container">

        <div class="col__primary">

            <div class="blog__body">

                <div class="site-content-body">







                    <h1> CONSULTANCY</h1>

                    <div class="introduction introduction--standard">
                        <p></p>
                    </div> <!-- /introduction -->



        <div class="rich-text">
                    ANIE has realised a number of achievements, which clearly demonstrate its capacity and track record to successfully undertake various projects. <br><span class="font-weight-bold">Key examples of these include: </span>
                    <ul style="list-style-type: square;" class="content-list">
                        <li>Recently, Nov 2020 – March 2021, ANIE collaborated with NESO South Africa to undertake a research project on Digitization in Higher Education in Africa: Early Career Researchers. The study sought to develop a framework for conceptualising “the Digital Scholar in Africa” based on the knowledge, skills and support system that are needed for optimal functioning and engagement for research, knowledge creation and international engagement via digital platforms</li>
                        <li>ANIE in 2014 completed a study for the United Kingdom’s Department for International Development (DFID) on Mapping the Social Science Research Landscape in Kenya  </li>
                        <li>ANIE in 2013 conducted and delivered a mapping and synthesis of national innovation initiatives and policies in Ghana, Kenya, and Uganda under the commissioning by the OECD Innovation Higher Education for Research &amp; Development Project (IHERD ) </li>
                        <li>ANIE coordinated and mobilised the writing and publication of the pioneering book Higher Education in Africa: The International Dimension, funded by Ford Foundation and Carnegie Corporation. The book was published by Association of African Universities and Centre for Internationalization Higher Education, Boston . </li>
                        <li>ANIE implemented and delivered a series of research and capacity building projects under Mobilizing Regional Capacities Initiative (MRCI) funded by DFID and administered by Association of African Universities (AAU). The results of this ANIE project was published in a book .</li>
                        <li>ANIE implemented, coordinated, and delivered CODESRIA Higher Education Leadership Program research project </li>
                        <li>ANIE participated in IAU 4th Global Survey on Internationalisation of higher education <a class="links" target="_blank" href=" http://www.iau-aiu.net/content/4th-iau-global-survey-internationalization-higher-education">Read more</a></li>
                        <li>ANIE participated in the IAU 3rd Global Survey on Internationalisation of higher education<a class="links" target="_blank" href="http://www.anglohigher.com/tinymce/plugins/filemanager/files/News_and_Interviews/International_Association_of_Universities_3rd_Global_Survey_Report_an_interview_with_Eva_Egron-Polak_and_Ross_Hudson-006.pdf"> link here</a> </li>
                        <li>ANIE  is a member of the Learning Mobility with non-industrialised countries <a class="links" target="_blank" href="http://www.lemonoc.eu ">(Lemonoc) project</a> and also been a member of the EU funded EM IDEA project

</li>
                    </ul>
</div>




                </div> <!-- /site-content-body -->

            </div> <!-- /blog__body -->

        </div> <!-- /col__primary -->

        <div class="col__secondary">


            <div class="cta-newsletter cta-newsletter--general" id="sticky-sidepanel">
  <div>
      <nav class="secondary-menu" id="sticky-sidepanel" role="navigation" aria-label="Secondary">


        <h2 class="secondary-menu__heading heading-section">Consultancy Form</h2>
		<form action="">
			<div>
				<input type="text" placeholder="Fullname" required="" id="name" />
			</div>
			<div>
				<input type="email" placeholder="Email" required="" id="email" />
			</div>
            <div>
				<input type="text" placeholder="Subject" required="" id="email" />
			</div>
            <div>
                <textarea type="text" placeholder="Subject" required="" id="email" ></textarea>
			</div>
            <div><button class="btn--cta" type="submit">Subscribe now</button></div>
		</form><!-- form -->

</nav>
  </div>
</div>


        </div> <!-- /col__secondary -->

    </div> <!-- /row -->

</div> <!-- /container -->
            </div></div>
    {% endblock %}