{% extends 'base.html' %}
{% load static %}
    {% block content%}
<div class="site-content">




<div class="site-content-body">

  <div class="text-banner ">
    <header class="text-banner-container">
      <div class="text-banner-content">
        <h1 class="text-banner-heading">Key Documents</h1>
        <div class="text-banner-introduction introduction">A brief introduction about this page.</div>
      </div> <!-- text-banner__content -->
    </header> <!-- text-banner__container -->
  </div> <!-- /text-banner -->
  <span id="sticky-anchor" style="height: 0px;"></span>
  <div class="cards">

    <div class="cards-container">




<div class="cards-item">
  <a href="/media/documents/389/One_Acre_Fund_Technology_Innovations_Report_2021.pdf" class="cards-item-link">
    <div class="cards-item-content">
      <h2 class="cards-item-heading">ANIE Fund Technology Innovations Report - 2021</h2><div class="cards-item__description">

ANIE Fund case study, produced in partnership with USAID, details our approach to digital solutions and proposes key learnings for the future. Healthy Soil
Nutrient Omission Trial, Kenya 2021
          </div>


        <div class="cards-item-type">
            <svg class="cards-item-type-download" height="18px" width="18px">
                <use xlink:href="#arrow"></use>
            </svg>
            <span class="cards-item-type-label">download</span>
        </div>

    </div>

  </a>
</div> <!-- /cards-item -->
        <div class="cards-item">
  <a href="/media/documents/389/One_Acre_Fund_Technology_Innovations_Report_2021.pdf" class="cards-item-link">
    <div class="cards-item-content">
      <h2 class="cards-item-heading">ANIE Fund Technology Innovations Report - 2021</h2><div class="cards-item__description">

ANIE Fund case study, produced in partnership with USAID, details our approach to digital solutions and proposes key learnings for the future. Healthy Soil
Nutrient Omission Trial, Kenya 2021
          </div>


        <div class="cards-item-type">
            <svg class="cards-item-type-download" height="18px" width="18px">
                <use xlink:href="#arrow"></use>
            </svg>
            <span class="cards-item-type-label">download</span>
        </div>

    </div>

  </a>
</div> <!-- /cards-item -->
        <div class="cards-item">
  <a href="/media/documents/389/One_Acre_Fund_Technology_Innovations_Report_2021.pdf" class="cards-item-link">
    <div class="cards-item-content">
      <h2 class="cards-item-heading">ANIE Fund Technology Innovations Report - 2021</h2><div class="cards-item__description">

ANIE Fund case study, produced in partnership with USAID, details our approach to digital solutions and proposes key learnings for the future. Healthy Soil
Nutrient Omission Trial, Kenya 2021
          </div>



        <div class="cards-item-type">
            <svg class="cards-item-type-download" height="18px" width="18px">
                <use xlink:href="#arrow"></use>
            </svg>
            <span class="cards-item-type-label">download</span>
        </div>

    </div>

  </a>
</div> <!-- /cards-item -->
        <div class="cards-item">
  <a href="/media/documents/389/One_Acre_Fund_Technology_Innovations_Report_2021.pdf" class="cards-item-link">
    <div class="cards-item-content">
      <h2 class="cards-item-heading">ANIE Fund Technology Innovations Report - 2021</h2><div class="cards-item__description">

ANIE Fund case study, produced in partnership with USAID, details our approach to digital solutions and proposes key learnings for the future. Healthy Soil
Nutrient Omission Trial, Kenya 2021
          </div>

        <div class="cards-item-type">
            <svg class="cards-item-type-download" height="18px" width="18px">
                <use xlink:href="#arrow"></use>
            </svg>
            <span class="cards-item-type-label">download</span>
        </div>

    </div>

  </a>
</div> <!-- /cards-item -->
        <div class="cards-item">
  <a href="/media/documents/389/One_Acre_Fund_Technology_Innovations_Report_2021.pdf" class="cards-item-link">
    <div class="cards-item-content">
      <h2 class="cards-item-heading">ANIE Fund Technology Innovations Report - 2021</h2><div class="cards-item__description">

ANIE Fund case study, produced in partnership with USAID, details our approach to digital solutions and proposes key learnings for the future. Healthy Soil
Nutrient Omission Trial, Kenya 2021
          </div>



        <div class="cards-item-type">
            <svg class="cards-item-type-download" height="18px" width="18px">
                <use xlink:href="#arrow"></use>
            </svg>
            <span class="cards-item-type-label">download</span>
        </div>

    </div>

  </a>
</div> <!-- /cards-item -->
        <div class="cards-item">
  <a href="/media/documents/389/One_Acre_Fund_Technology_Innovations_Report_2021.pdf" class="cards-item-link">
    <div class="cards-item-content">
      <h2 class="cards-item-heading">ANIE Fund Technology Innovations Report - 2021</h2>
<div class="cards-item__description">

ANIE Fund case study, produced in partnership with USAID, details our approach to digital solutions and proposes key learnings for the future. Healthy Soil
Nutrient Omission Trial, Kenya 2021
          </div>



        <div class="cards-item-type">
            <svg class="cards-item-type-download" height="18px" width="18px">
                <use xlink:href="#arrow"></use>
            </svg>
            <span class="cards-item-type-label">download</span>
        </div>

    </div>

  </a>
</div> <!-- /cards-item -->


    </div> <!-- /cards-container -->


    <div class="container">
        <div class="row">
            <div class="col-full">


                    <nav class="pagination" aria-label="Pagination">

    <div class="pagination-previous">

    </div>

    <div class="pagination-status">
        <span class="pagination-page-current">1</span> / <span class="pagination-page-total">5</span>
    </div>

    <div class="pagination-next">

        <a class="pagination-link" href="index4658.html?page=2">
            next
            <svg class="pagination-icon" height="31px" width="31px">
                <use xlink:href="#small-arrow"></use>
            </svg>
        </a>

    </div>

</nav>


            </div>
        </div>
    </div>


  </div> <!-- /cards -->

</div> <!-- /site-content__body -->
            </div>
    {% endblock %}