{% extends 'base.html' %}
{% load static %}
    {% block content%}
<!-- Conent Body -->
        <div class="site-content">



            <div class="site-content-body">

                <div class="text-banner pt-5">

                    <header class="text-banner-container">

                        <div class="text-banner-content">

                            <h1 class="text-banner-heading text-uppercase">Membership categories</h1>

                                <p class="text-left"><span class="font-weight-bold text-uppercase">Annual Fees Payable</span><br>There shall be payable to the organization an annual subscription (differentiated in respect of the categories identified below) as shall be determined from time to time by the BoD and ratified by the General Assembly meeting of the organization. The fees payable for the various categories of membership are as follows:</p>
                            <h6 class="text-center text-uppercase color-primary">Annual payable registration fees for members within Africa</h6>



                        </div> <!-- text-banner-content -->

                    </header> <!-- text-banner-container -->

                </div>
                <!-- /text-banner -->

                <!-- /Committee Cards -->
                <div class="wrapper">
                    <div class="container container-sm">


                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4 ">
                                <div class="head_bg"><h5 class=" no-pad text-center color-white text-uppercase">STUDENT MEMBER</h5></div>
                                <div class="team-member memb_bg">
                                     <span class="dollar">$ 25</span>
                                    <p class="text-left">Any person who is officially enrolled in a tertiary education institution. Proof of enrollment is required.</p>

                                </div><!-- .team-member -->
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="head_bg"><h5 class="text-center color-white text-uppercase">STANDARD MEMBER</h5></div>
                                <div class="team-member memb_bg">
                                    <span class="dollar">$ 50</span>
                                    <p class="text-left">Any individual person involved in the higher education sector and who has interests in the goals and objectives of ANIE.</p>

                                </div><!-- .team-member -->
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="head_bg"><h5 class="text-center color-white text-uppercase">AFFILIATE MEMBER</h5></div>
                                <div class="team-member memb_bg">
                                     <span class="dollar">$ 100</span>
                                    <p class="text-left">Any organization that has similar goals and objectives as ANIE and offers reciprocal membership and commitment to information sharing. These are partners from whom ANIE can draw benefits by association.</p>

                                </div><!-- .team-member -->
                            </div>
                        </div>
                    </div>
                    <!-- /Committee Cards -->




                </div>
                <h6 class="text-center text-uppercase pt-5 color-primary">Annual payable registration fees for International members</h6>
                <div class="wrapper pad-top pad-bottom">
                    <div class="container container-sm">


                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="head_bg"> <h5 class="text-center color-white text-uppercase">STUDENT MEMBER</h5></div>
                                <div class="team-member memb_bg">
                                     <span class="dollar">$ 50</span>
                                    <p class="text-left">Any person who is officially enrolled in a tertiary education institution. Proof of enrollment is required.</p>

                                </div><!-- .team-member -->
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="head_bg"> <h5 class="text-center color-white text-uppercase">STANDARD MEMBER</h5></div>
                                <div class="team-member memb_bg">
                                    <span class="dollar">$ 100</span>
                                    <p class="text-left">Any individual person involved in the higher education sector and who has interests in the goals and objectives of ANIE.</p>

                                </div><!-- .team-member -->
                            </div>
                            <div class="col-sm-12 col-md-6 col-lg-4">
                                <div class="head_bg"> <h5 class="text-center color-white text-uppercase">AFFILIATE MEMBER</h5></div>
                                <div class="team-member memb_bg">
                                     <span class="dollar">$ 200</span>
                                    <p class="text-left">Any organization that has similar goals and objectives as ANIE and offers reciprocal membership and commitment to information sharing. These are partners from whom ANIE can draw benefits by association.</p>

                                </div><!-- .team-member -->
                            </div>
                        </div>
                    </div>
                    <!-- /Committee Cards -->




                </div><!-- /site-content-body -->

<div class="wrapper">
            <div class="news-list">
                <div class="news-item">
                    <div class="news-image">

                    </div>
                    <div class="news-content">
                        <h6 class="text-uppercase news-title">Annual payable registration fees for International members</h6>
                        <p class="news-description">Are you willing to become a member and join us in fullfilling our mission and vission to East Africa and to the whole world</p>

                        <a class="news-button" href="{% url 'Anie:Register' %}">
                            Register Now
                        </a>
                    </div>


                </div>


                    </div> <!-- /cta-container -->

                </div> <!-- /cta -->

                <ul data-brackets-id="25158" class="career-menu js-career-mobile-menu">
                    <li data-brackets-id="25159" class="career-menu-item">
                        <a data-brackets-id="25160" class="career-menu-link">Get to Know More</a>
                        <button data-brackets-id="25161" class="career-menu__toggle js-career-mobile-menu-toggle">
                            <svg data-brackets-id="25162" class="icon-toggle" height="32px" width="32px">
                                <rect data-brackets-id="25163" x="2.85" y="6.265" width="24" height="2.47"></rect>
                                <rect data-brackets-id="25164" x="2.85" y="14.217" width="24" height="2.47"></rect>
                                <rect data-brackets-id="25165" x="2.85" y="22.302" width="24" height="2.47"></rect>
                            </svg>
                        </button>
                    </li>



                    <li data-brackets-id="25166" class="career-menu-item has-submenu">

                        <a data-brackets-id="25167" href="secretariat.html" class="career-menu-link career-menu-link-submenu">Secretariat</a>
                    </li>






                    <li data-brackets-id="25175" class="career-menu-item has-submenu">
                        <a data-brackets-id="25176" href="members.html" class="career-menu-link career-menu-link-submenu
        " href="#">Members</a>
                    </li>






                    <li data-brackets-id="25196" class="career-menu-item has-submenu">

                        <a data-brackets-id="25197" class="career-menu-link career-menu-link-submenu" href="partners.html">Partners</a>
                    </li>
                    <li data-brackets-id="25196" class="career-menu-item has-submenu">

                        <a data-brackets-id="25197" class="career-menu-link career-menu-link-submenu" href="documents.html">Key Documents</a>
                    </li>



                    <li data-brackets-id="25209" class="career-menu-item">
                        <a data-brackets-id="25210" href="calls.html" class="career-menu-link career-menu-link--highlight">Job Calls</a>
                    </li>

                </ul>






            </div></div>
            <!-- /Content Body -->
    {% endblock %}