{% extends 'base.html' %}
{% load static %}
    {% block content%}
<div class="site-content no-pad">



<div class="site-content-body site-content-body-fill">
    <div data-brackets-id="25155" class="site-content">




<div data-brackets-id="25156" class="careers-hero">


    <img data-brackets-id="25157" alt="An image of all Anie Members" src="{% static 'media/anie/blog/OurTeam.jpg' %}" height="1467" width="2200">

</div>




<ul data-brackets-id="25158" id="career-menu" class="career-menu js-career-mobile-menu">
    <li data-brackets-id="25159" class="career-menu-item">
        <a data-brackets-id="25160" href="index.html" class="career-menu-link">Who We Are</a>
        <button data-brackets-id="25161" class="career-menu__toggle js-career-mobile-menu-toggle">
            <svg data-brackets-id="25162" class="icon-toggle" height="32px" width="32px">
                <rect data-brackets-id="25163" x="2.85" y="6.265" width="24" height="2.47"></rect>
                <rect data-brackets-id="25164" x="2.85" y="14.217" width="24" height="2.47"></rect>
                <rect data-brackets-id="25165" x="2.85" y="22.302" width="24" height="2.47"></rect>
            </svg>
        </button>
    </li>



                <li data-brackets-id="25166" class="career-menu-item has-submenu">

                    <a data-brackets-id="25167" class="career-menu-link career-menu-link-submenu">Know Us</a>
                    <ul data-brackets-id="25168" class="career-menu-sub-menu">

                            <li data-brackets-id="25169" class="career-menu-sub-menu-item">
                                <a data-brackets-id="25170" href="ourhistory.html" class="career-menu-sub-menu-item-link">Our History</a>
                            </li>

                            <li data-brackets-id="25171" class="career-menu-sub-menu-item">
                                <a data-brackets-id="25172" href="vision.html" class="career-menu-sub-menu-item-link">Our Vision</a>
                            </li>

                            <li data-brackets-id="25173" class="career-menu-sub-menu-item">
                                <a data-brackets-id="25174" href="mission.html" class="career-menu-sub-menu-item-link">Our Mission</a>
                            </li>

                    </ul>
                </li>






    <li data-brackets-id="25175" class="career-menu-item has-submenu">
        <a data-brackets-id="25176" class="career-menu-link career-menu-link-submenu
        " href="partners.html">Partners</a>
    </li>






                <li data-brackets-id="25196" class="career-menu-item has-submenu">

                    <a data-brackets-id="25197"  class="career-menu-link career-menu-link-submenu" href="documents.html">Key Documents</a>
                </li>



        <li data-brackets-id="25209" class="career-menu-item">
            <a data-brackets-id="25210" href="job-openings/index.html" class="career-menu-link career-menu-link--highlight">Job Calls</a>
        </li>

</ul>
<div class="text-banner">

        <header class="text-banner-container">

            <div class="text-banner-content">

                <h5 class="text-banner-heading text-uppercase">About Us</h5>

                <div class="text-banner-introduction introduction">The African Network for Internationalization of Education (ANIE) is an independent, non-profit making, non-governmental African network committed to the advancement of high quality research, capacity building and advocacy on internationalization of higher education with prime focus on Africa.</div>



            </div> <!-- text-banner-content -->

        </header> <!-- text-banner-container -->

    </div> <!-- /text-banner -->


        <div class="info">
            <header class="info-header">
                <h2 class="info-header-heading heading-section"><em>INSIDE</em> ABOUT US</h2>
            </header>

            <div class="info-container">

                <div class="info-item">
                    <a class="info-item-link" href="purpose-and-values/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Anie's core definition and values.</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img data-src="{% static 'media/anie/blog/mission.jpg' %}" width="730" height="550" alt="Mary Nabangi" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">

                                    Our Mission
                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item">
                    <a class="info-item-link" href="vision.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Anie's approch and future prospects.</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img data-src="{% static 'media/anie/blog/viso.png' %}" width="930" height="700" alt="Janet Nongaluwa" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">

                                    Our Vision

                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item">
                    <a class="info-item-link" href="our-leadership/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Anie's Approch towards Leadership</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img data-src="{% static 'media/anie/blog/board.jpg' %}" width="930" height="700" alt="Evariste, Evariste, and Andrew Youn" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">

                                Board and Advisors
                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item">
                    <a class="info-item-link" href="documents.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Anie's members of the Staff who carryout daily routines.</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img data-src="{% static 'media/anie/blog/staff.jpg' %}" width="930" height="700" alt="Consolata and Ann review a One Acre Fund Annual Report" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">

                                    Our Staff

                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item">
                    <a class="info-item-link" href="press-and-awards/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Monthly core reports,and publications of aine's progress and movement</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img data-src="{% static 'media/anie/blog/publications.jpg' %}" width="930" height="700" alt="Closeup of beans in Burundi" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">

                                    Reports &amp; Publications

                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item">
                    <a class="info-item-link" href="board-and-advisors/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Dedicated individuals helping steer One Acre Fund&#39;s future direction</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img data-src="{% static 'media/anie/blog/policies.jpg' %}" width="930" height="700" alt="Saraphine Nirere" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">

                                    Policies and implementations

                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item">
                    <a class="info-item-link" href="our-offices/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Details about One Acre Fund&#39;s international offices.</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img data-src="{% static 'media/anie/blog/offices.jpg' %}" width="930" height="700" alt="Rubengera Offices of One Acre Fund" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">

                                    Our Offices

                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

                <div class="info-item">
                    <a class="info-item-link" href="contact-us/index.html">

                        <div class="info-item-image-container">

                            <div class="info-item-action">
                                <div class="info-item-action-container">
                                    <p class="info-item-action-description">Fill out this simple form to ask a question or report a technical problem.</p>
                                    <span class="info-item-action-btn btn-secondary">Find out more</span>
                                </div>
                            </div>


                            <img data-src="{% static 'media/anie/blog/contactus.jpg' %}" width="930" height="700" alt="Transportation_Malawi_Dirtroad.jpg" class="lazy">
                        </div> <!-- /info-item-image-container -->

                        <div class="info-item-content">
                            <h3 class="info-item-heading">

                                    Contact Us

                            </h3>
                        </div>
                    </a>
                </div>  <!-- /info-item -->

            </div> <!-- /info-container -->
        </div> <!-- /info -->

    <div data-brackets-id="25211" class="careers-intro">
        <div data-brackets-id="25212" class="container careers-intro__container">
            <h1 data-brackets-id="25213">Join a talented team doing work that&nbsp;matters.</h1>
            <h2 data-brackets-id="25214">We aim to make millions of students and universities more prosperous. We thrive on the challenge of delivering real impact to real&nbsp;people.</h2>
        </div>
    </div>



<div data-brackets-id="25215" class="careers-feature">
    <div data-brackets-id="25216" class="container">
        <div data-brackets-id="25217" class="careers-feature-items">

                <div data-brackets-id="25218" class="careers-feature-items-item">

                    <div data-brackets-id="25219" class="careers-feature-items-item-img bgimage" data-src="{% static '/media/anie/1.png' %}" style="background-image: url({% static 'media/anie/1.png' %});"></div>
                    <article data-brackets-id="25220">
                        <h2 data-brackets-id="25221">Who Work with Us</h2>
                        <p data-brackets-id="25222">We’re one of the largest Organisation for Internationalization of higher Education in Africa.</p>
                        <a data-brackets-id="25223" href="partners.html" class="btn-secondary">Learn more</a>
                    </article>
                </div>

                <div data-brackets-id="25224" class="careers-feature-items-item">

                    <div data-brackets-id="25225" class="careers-feature-items-item-img bgimage" data-src="{% static '../media/images/Ayanda_OAF_2.original_1_LWo57lZ.max-2000x1200.jpg' %}" style="background-image: url({% static 'media/images/Ayanda_OAF_2.original_1_LWo57lZ.max-2000x1200.jpg' %});"></div>
                    <article data-brackets-id="25226">
                        <h2 data-brackets-id="25227">Our Memebers</h2>
                        <p data-brackets-id="25228">Serving millions of students requires passionate professionals from every sector who are reziliate and restless to deliver quality works.</p>
                        <a data-brackets-id="25229" href="application-process/qualifications/index.html" class="btn-secondary">learn more</a>
                    </article>
                </div>

                <div data-brackets-id="25230" class="careers-feature-items-item">

                    <div data-brackets-id="25231" class="careers-feature-items-item-img bgimage" data-src="{% static '../media/images/Kakamega_HQ_Kenya_Meeting_Room.max-2000x1200.jpg' %}" style="background-image: url({% static 'media/images/Kakamega_HQ_Kenya_Meeting_Room.max-2000x1200.jpg' %});"></div>
                    <article data-brackets-id="25232">
                        <h2 data-brackets-id="25233">Researchers' Research</h2>
                        <p data-brackets-id="25234">Serving millions of students requires passionate professionals from every sector who are reziliate and restless to deliver quality works.</p>
                        <a data-brackets-id="25235" href="application-process/index.html" class="btn-secondary">learn more</a>
                    </article>
                </div>

        </div>
    </div>
</div>
            </div>

</div> <!-- /site-content-body -->

            <div class="cta">

                <div class="cta-container">

                    <h2 class="cta-heading">Register and become a member with us</h2>

                    <div class="cta-text">
                        <div class="rich-text">
                            <p>Are you willing to become a member and join us in fullfilling our mission and vission to East Africa and to the whole world<br /></p>
                        </div>
                    </div>

                    <!--  -->


                    <a class="btn-transparent cta-btn" href="blog/seed-soap-delivering-health-response-covid-19/index.html">Read More</a>


                </div> <!-- /cta-container -->

            </div> <!-- /cta -->





            </div>
    {% endblock %}