{% extends 'base.html' %}
{% load static %}
    {% block content%}
 <!-- Conent Body -->
            <div class="site-content">



<div class="site-content-body">


    <div class="text-banner">

        <header class="text-banner-container">

            <div class="text-banner-content">

                <h1 class="text-banner-heading">Who we work with</h1>

                <div class="text-banner-introduction introduction">Small introduction about our partners required here !!!!!!!!!</div>



            </div> <!-- text-banner-content -->

        </header> <!-- text-banner-container -->

    </div> <!-- /text-banner -->



        <div class="info">
            <div class="info-container">

                <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/african/AAU.jpg' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div>
                <!-- /info-item -->

                 <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/african/Adea.png' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->

                 <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/african/AVU.png' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->

                 <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/african/CODESRIA.jpg' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->

                 <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/african/Education%20kenya.png' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->
                <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/african/IEASA-logo2.png' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->
                 <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/african/iucea.jpg' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->
                <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/african/MoiU.png' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->
                <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/african/OER.jpg' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->
                <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/african/Sarua.jpg' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->


            </div> <!-- /info-container -->
        </div> <!-- /info -->

<h5 class="text-banner-heading text-center">International Partners</h5>
 <div class="info">
            <div class="info-container">
                 <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/international/Asie.png' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->

                 <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/international/Aucc.png' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->

                 <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/international/BC.jpg' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->

                 <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/international/daad.png' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->
                <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/international/DfID.svg.png' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->
                 <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/international/EAIE.jpg' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->
                <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/international/IAU.webp' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->
                <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/international/iie.png' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->
                <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/international/Nuffic.png' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->
                <div class="info-item-sm info-item-smm">
                    <a href="burundi/index.html">

                        <div class="info-item-image-container">
                            <img src="{% static 'media/anie/partnership/international/siu.jpg' %}" width="600" height="600" alt="Janet Nongaluwa" alt="Prof. Goski Alabi" class="lazy">
                        </div> <!-- /info-item-image-container -->
                    </a>
                </div> <!-- /info-item -->


            </div> <!-- /info-container -->
        </div> <!-- /info -->








</div> <!-- /site-content-body -->


<ul data-brackets-id="25158" class="career-menu js-career-mobile-menu">
    <li data-brackets-id="25159" class="career-menu-item">
        <a data-brackets-id="25160" class="career-menu-link">Get to Know More</a>
        <button data-brackets-id="25161" class="career-menu__toggle js-career-mobile-menu-toggle">
            <svg data-brackets-id="25162" class="icon-toggle" height="32px" width="32px">
                <rect data-brackets-id="25163" x="2.85" y="6.265" width="24" height="2.47"></rect>
                <rect data-brackets-id="25164" x="2.85" y="14.217" width="24" height="2.47"></rect>
                <rect data-brackets-id="25165" x="2.85" y="22.302" width="24" height="2.47"></rect>
            </svg>
        </button>
    </li>



                <li data-brackets-id="25166" class="career-menu-item has-submenu">

                    <a data-brackets-id="25167" href="secretariat.html" class="career-menu-link career-menu-link-submenu">Secretariat</a>
                      </li>






    <li data-brackets-id="25175" class="career-menu-item has-submenu">
        <a data-brackets-id="25176" class="career-menu-link career-menu-link-submenu
        " href="members.html">Members</a>
    </li>






                <li data-brackets-id="25196" class="career-menu-item has-submenu">

                    <a data-brackets-id="25197" class="career-menu-link career-menu-link-submenu" href="partners.html">Partners</a>
                </li>
    <li data-brackets-id="25196" class="career-menu-item has-submenu">

                    <a data-brackets-id="25197" class="career-menu-link career-menu-link-submenu" href="documents.html">Key Documents</a>
                </li>



        <li data-brackets-id="25209" class="career-menu-item">
            <a data-brackets-id="25210" href="calls.html" class="career-menu-link career-menu-link--highlight">Job Calls</a>
        </li>

</ul>

 <div class="cta">

                <div class="cta-container">

                    <h2 class="cta-heading">Register and become a member with us</h2>

                    <div class="cta-text">
                        <div class="rich-text">
                            <p>Are you willing to become a member and join us in fullfilling our mission and vission to East Africa and to the whole world<br /></p>
                        </div>
                    </div>

                    <!--  -->


                    <a class="btn-transparent cta-btn" href="registration.html">Register Now</a>


                </div> <!-- /cta-container -->

            </div> <!-- /cta -->




            </div>
            <!-- /Content Body -->
    {% endblock %}