{% extends 'base.html' %}
{% load static %}
    {% block content%}
 <!-- Conent Body -->
            <div class="site-content site-content-body-fill">
                <div class="site-content-body">
                   <section data-brackets-id="647" class="">
        <div data-brackets-id="648" class="container pb-4">
            <div class="text-banner ">
    <header class="text-banner-container">
      <div class="text-banner-content">
        <h5 class="text-center color-primary text-uppercase ">Latest Publications</h5>

      </div> <!-- text-banner__content -->
    </header> <!-- text-banner__container -->
  </div>
                    <div data-brackets-id="649" class="row">
                        <div data-brackets-id="650" class="col-lg-3 col-md-6 col-sm-12 pad-bottom fieldwrapper">
                            <img data-brackets-id="651" class="center pic-pub" src="{% static 'media/anie/publications/adea.jpg' %}" width="auto" margin="auto" height="325">
                            <h6 data-brackets-id="652" style="text-align: center; padding-top: 15px;">Hot feet and Social Change of African dance and Diaspora Comunities</h6>
                        </div>
                        <div data-brackets-id="653" class="col-lg-3 col-md-6 col-sm-12 pad-bottom fieldwrapper">
                            <img data-brackets-id="654" class="center pic-pub" src="{% static 'media/anie/publications/COVID-19%20Strategic%20Response%20Plan%20in%20the%20WHO%20African%20Region.png' %}" width="auto" margin="auto" height="325">
                            <h6 data-brackets-id="655" style="text-align: center; padding-top: 15px;">COVID-19 Strategic Response Plan in the WHO African Region</h6>
                        </div>
                        <div data-brackets-id="656" class="col-lg-3 col-md-6 col-sm-12 pad-bottom fieldwrapper">
                            <img data-brackets-id="657" class="center pic-pub" src="{% static 'media/anie/publications/publication.jpg' %}" width="auto" margin="auto" height="325">
                            <h6 data-brackets-id="658" style="text-align: center; padding-top: 15px;">African Adult Education</h6>
                        </div>

                        <div data-brackets-id="659" class="col-lg-3 col-md-6 col-sm-12 pad-bottom fieldwrapper">
                            <img data-brackets-id="660" class="center pic-pub" src="{% static 'media/anie/publications/Technical%20guidance%20for%20contact%20%20tracing%20COVID-19.jpg' %}" width="auto" margin="auto" height="325">
                            <h6 data-brackets-id="661" style="text-align: center; padding-top: 15px;">impact of covid on Education</h6>

                        </div>



                    </div>
                </div>
    </section>
                </div>
            </div>
            <!-- /Content Body -->
    {% endblock %}