{% extends 'base.html' %}
{% load static %}
    {% block content%}
<!-- Conent Body -->
            <div class="site-content">



                <div class="site-content-body">
                    <div class="text-banner">

                        <header class="text-banner-container">

                            <div class="text-banner-content">

                                <h1 class="text-banner-heading">Membership Registration</h1>

                                <div class="text-banner-introduction introduction">Some Nice And brief introdution required here!!!!! </div>



                            </div> <!-- text-banner-content -->

                        </header> <!-- text-banner-container -->

                    </div>
                    <!-- /text-banner -->

                    <!-- /Committee Cards -->
                    <div class="wrapper pad-top pad-bottom">
                        <div class="container">

                            <div class="payment">
                                <div class="payment-tabs"><a id="personal" class="active js-slowscroll">PERSONNAL INFO</a>
                                    <a id="member" class="js-slowscroll">Membership Type</a>
                                    <a id="payment" class="js-slowscroll">Payment</a>
                                </div>
                                <form action="">
                                    <div class="form-body">
                                        <div id="Payment-content" class="form-inactive">
                                            <div class="payment-method">
                                                <h2>Choose your payment method</h2>
                                                <div class="pm-item">
                                                    <input id="checkB" type="radio" value="" name="checkB" />
                                                    <label id="mPesa" class="pm-label" for="mpp">
                                                        <div class="pm-text">
                                                            <h5>M-PESA</h5>
                                                            <p>Safe payment online. Mpesa registered client's number required.</p>
                                                        </div>
                                                        <div class="pm-thumb"><img src="{% static 'media/anie/blog/mpesa.png' %}" width="155" /></div>
                                                    </label>
                                                </div>
                                                <div class="pm-item">
                                                    <input id="checkM" type="radio" class="active" name="checkM" />
                                                    <label class="pm-label" for="mcc" id="Mcard">
                                                        <div class="pm-text">
                                                            <h5>Master Card</h5>
                                                            <p>Safe money transfer using your bank account. Safe payment online. Credit card needed. Visa, Maestro, Discover, American Express</p>
                                                        </div>
                                                        <div class="pm-thumb"><img width="355" src="{% static 'media/anie/blog/master-removebg-preview.png' %}" /></div>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="payment-input form_hide">
                                                <div class="form-group success">
                                                    <label for="ccnum">Credit Card Number</label>
                                                    <input class="form-control is-valid" id="ccnum" type="text" name="ccnum" value="4542 9931 9292 2293" />
                                                </div>
                                                <div class="form-group half pr-3">
                                                    <label for="ccmonth">Expiry Date</label>
                                                    <div class="row mx-0">
                                                        <div class="col-6 pl-0 pr-2">
                                                            <select class="form-control" id="ccmonth">
                                                                <option value="1">1</option>
                                                                <option value="2">2</option>
                                                                <option value="3">3</option>
                                                                <option value="4">4</option>
                                                                <option value="5">5</option>
                                                                <option value="6">6</option>
                                                                <option value="7">7</option>
                                                                <option value="8">8</option>
                                                                <option value="9">9</option>
                                                                <option value="10">10</option>
                                                                <option value="11">11</option>
                                                                <option value="12">12</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-6 pl-2 pr-0">
                                                            <select class="form-control" id="ccyear">
                                                                <option value="2018">2018</option>
                                                                <option value="2019">2019</option>
                                                                <option value="2020">2020</option>
                                                                <option value="2021">2021</option>
                                                                <option value="2022">2022</option>
                                                                <option value="2023">2023</option>
                                                                <option value="2024">2024</option>
                                                                <option value="2025">2025</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group half pl-3">
                                                    <label for="cccode">CVV Code <span class="question">?</span></label>
                                                    <input class="form-control is-invalid" id="cccode" type="text" name="cccode" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="ccname">Name on Card</label>
                                                    <input class="form-control" id="ccname" type="text" name="ccname" />
                                                </div>
                                            </div>
                                            <div class="payment-input form_mpesa">
                                                <div class="form-group">
                                                    <label for="ccname">Registered Names</label>
                                                    <input class="form-control" id="ccname" type="text" name="ccname" />
                                                </div>
                                                <div class="form-group success">
                                                    <label for="ccnum">Mpesa Number</label>
                                                    <input class="form-control is-valid" id="mnum" type="text" name="mnum" value="+ 255 6653322" />
                                                </div>

                                            </div>
                                            <div class="payment-actions">
                                                <a class="return" id="back">Back</a>
                                                <button class="finish" type="submit">Pay Now</button>
                                            </div>
                                        </div>
                                        <div id="Personnal" class="form-active">
                                            <div class="payment-input">
                                                <div class="form-group half pr-3">

                                                    <div class="row mx-0">
                                                        <div class="col-6 pl-0 pr-2">
                                                            <label for="ccmonth">First Name</label>
                                                            <input class="form-control" id="ccnum" type="text" name="firstname" placeholder="First Name" required/>
                                                        </div>
                                                        <div class="col-6 pl-2 pr-0">
                                                            <label for="ccmonth">Last Name</label>
                                                            <input class="form-control" id="ccnum" type="text" name="lastname" placeholder="Last Name" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group success">
                                                    <label for="ccnum">Other Names</label>
                                                    <input class="form-control" id="ccnum" type="text" name="othernames" placeholder="Other Names" />
                                                </div>
                                                <div class="form-group pr-3">

                                                    <div class="row mx-0">
                                                        <div class="col-6 pl-0 pr-2">
                                                            <label for="ccmonth">Designation</label>
                                                            <input class="form-control" id="ccnum" type="text" name="designation" placeholder="designation" />
                                                        </div>
                                                        <div class="col-6 pl-2 pr-0">
                                                            <label for="ccmonth">Affiliation</label>
                                                            <input class="form-control" id="ccnum" type="text" name="affiliation" placeholder="Affiliation" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group success">
                                                    <label for="ccnum">Bio Data</label>
                                                    <textarea class="form-control" id="ccnum" type="text" name="bio" placeholder="Biodata"></textarea>
                                                </div>
                                            </div>
                                            <div class="payment-actions">
                                                <a id="P-Cont">Continue</a>
                                            </div>
                                        </div>
                                        <div id="membership" class="form-inactive">
                                            <div id="Personnal" class="form-active">
                                                <div class="payment-input">
                                                    <div class="form-group success">
                                                        <label for="ccnum">Location</label>
                                                        <select class="form-control" id="location"  placeholder="Africa">
                                                            <option>Africa</option>
                                                            <option value="international">Outside Africa</option>
                                                        </select>
                                                    </div>
                                                    <div class="form-group success">
                                                        <label for="ccnum">Membership Type</label>
                                                        <select class="form-control" id="membership">
                                                            <option value="Student">Student Membership</option>
                                                            <option value="Standard">Standard Membership</option>
                                                            <option value="Affiliate">Affiliate Membership</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="payment-actions">
                                                    <a id="return" >Back</a>
                                                    <a id="finish">Proceed to Payments</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>

                            </div>

                        </div>
                        <!-- /Committee Cards -->




                    </div><!-- /site-content-body -->
                    <ul data-brackets-id="25158" class="career-menu js-career-mobile-menu">
                        <li data-brackets-id="25159" class="career-menu-item">
                            <a data-brackets-id="25160" class="career-menu-link">Get to Know More</a>
                            <button data-brackets-id="25161" class="career-menu__toggle js-career-mobile-menu-toggle">
                                <svg data-brackets-id="25162" class="icon-toggle" height="32px" width="32px">
                                    <rect data-brackets-id="25163" x="2.85" y="6.265" width="24" height="2.47"></rect>
                                    <rect data-brackets-id="25164" x="2.85" y="14.217" width="24" height="2.47"></rect>
                                    <rect data-brackets-id="25165" x="2.85" y="22.302" width="24" height="2.47"></rect>
                                </svg>
                            </button>
                        </li>



                        <li data-brackets-id="25166" class="career-menu-item has-submenu">

                            <a data-brackets-id="25167" href="secretariat.html" class="career-menu-link career-menu-link-submenu">Secretariat</a>
                        </li>






                        <li data-brackets-id="25175" class="career-menu-item has-submenu">
                            <a data-brackets-id="25176" href="members.html" class="career-menu-link career-menu-link-submenu
        " href="#">Members</a>
                        </li>






                        <li data-brackets-id="25196" class="career-menu-item has-submenu">

                            <a data-brackets-id="25197" class="career-menu-link career-menu-link-submenu" href="partners.html">Partners</a>
                        </li>
                        <li data-brackets-id="25196" class="career-menu-item has-submenu">

                            <a data-brackets-id="25197" class="career-menu-link career-menu-link-submenu" href="documents.html">Key Documents</a>
                        </li>



                        <li data-brackets-id="25209" class="career-menu-item">
                            <a data-brackets-id="25210" href="calls.html" class="career-menu-link career-menu-link--highlight">Job Calls</a>
                        </li>

                    </ul>




                </div>
            </div>
            <!-- /Content Body -->
    {% endblock %}