{% extends 'base.html' %}
{% load static %}
    {% block content%}
<div class="site-content bg-white">
            <div class="site-content-body">
                <div class="text-banner">

                    <header class="text-banner-container">

                        <div class="text-banner-content">

                            <h5 class="text-center color-primary text-uppercase">Research</h5>

                            <div class="text-banner-introduction introduction">Research is one of ANIE’s core activities. ANIEs research focuses on improving the understanding of the international dimension of higher education through the development and implementation of innovative research programs to address the key challenges and benefits of internationalization to Africa. The research priorities respond to needs identified by African higher education institutions, countries and regional bodies or frameworks. Within each theme or research area, we particularly focus on areas where there are considerable knowledge gaps and where our current strengths hold the greatest potential.s</div>



                        </div> <!-- text-banner-content -->

                    </header> <!-- text-banner-container -->

                </div>
                <!-- /text-banner -->
                <!-- /Research-Area -->
                <div class="wrapper pad-top pad-bottom">
                    <div class="container">


                        <div class="row">
                            <div class="col-sm-12 col-md-6 col-lg-6 section-gap">
                                <h5 class="text-center color-primary text-uppercase">All Research Projects</h5>
                                <div class="team-member">
                                    <ul class="list-committee">
                                        <li><a href="/research/index1.html">
                                                <p class="title p-title">Students Mobility In Africa</p>
                                            </a></li>
                                        <li><a href="/research/index2.html">
                                                <p class="title p-title">Higher Education Leadership Program</p>
                                            </a></li>
                                        <li><a href="research/index3.html">
                                                <p class="title p-title">Research And PhD Capacity In Sub-Saharan Africa</p>
                                            </a></li>
                                        <li><a href="research/index4.html">
                                                <p class="title p-title">Internationalization Strategy Advisory Services (ISAS) At Moi University</p>

                                            </a></li>
                                        <li><a href="research/index5.html">
                                                <p class="p-title title">Mapping Social Science Research In Kenya</p>
                                            </a></li>
                                        <li><a href="research/index6.html">
                                                <p class="title p-title">Learning Mobility With Non-Industrialised Countries</p>
                                            </a></li>
                                        <li><a href="research/index7.html">
                                                <p class="title p-title">The Role Of Internationalization Of Higher Education In The Attainment Of (MDGS) In Africa</p>
                                            </a></li>
                                        <li><a href="research/index8.html">
                                                <p class="title p-title">The Impact Of Internationalization On The Governance Of Higher Education Research And Innovation

</p>
                                            </a></li>

                                        <li><a href="research/index9.html">
                                                <p class="title p-title">The EM IDEA Project</p>
                                            </a></li>
                                    </ul>

                                </div><!-- .team-member -->
                            </div>

                        <div class="col-sm-12 col-md-6 col-lg-6 section-gap">
                                <h5 class="text-center color-primary text-uppercase">Completed Projects</h5>
                                <div class="team-member">
                                    <ul class="list-committee">
                                        <li><a href="research/index4.html">
                                                <p class="title p-title">Internationalization Strategy Advisory Services (ISAS) At Moi University</p>
                                            </a></li>
                                        <li><a href="research/index5.html">
                                                <p class="title p-title">Mapping Social Science Research In Kenya</p>
                                            </a></li>
                                        <li><a href="research/index6.html">
                                                <p class="title p-title">Learning Mobility With Non-Industrialised Countries</p>
                                            </a></li>
                                        <li><a href="research/index7.html">
                                                <p class="title p-title">The Role Of Internationalization Of Higher Education In The Attainment Of (MDGS) In Africa</p>

                                            </a></li>
                                        <li><a href="research/index8.html">
                                                <p class="title p-title">The Impact Of Internationalization On The Governance Of Higher Education Research And Innovation</p>
                                            </a></li>
                                        <li><a href="research/index9.html">
                                                <p class="title p-title">The EM IDEA Project</p>
                                            </a></li>
                                    </ul>

                                </div><!-- .team-member -->
                            </div>

                        </div>
                    </div>
                    <!-- /Committee Cards -->




                </div>
                <!-- /Research-Area -->

            </div>
        </div>
    {% endblock %}